.product-actions {
    top: 90px;
    right: 21px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d83377;
    border-radius: 10px;
    padding: 4px 5px;
    box-sizing: border-box;
    align-self: flex-end;
    button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 10px;
        background-color: #d83377;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            background-color: #000;
        }
    }
    &-count {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        min-width: 20px;
        text-align: center;
        margin: 0 6px;
    }
}
