.product-card {
    background-color: #241c22;
    border-radius: 20px;
    padding: 16px 12px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    &__hero-image-wrapper {
        margin: -16px -12px 10px -12px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }

    &__hero-image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    &__content-row {
        display: flex;
        gap: 10px;
    }

    &__discount {
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: #ff0033;
        color: #fff;
        padding: 6px 10px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 10px;
        text-align: center;

        &-percent {
            font-size: 14px;
            font-weight: 900;
            display: block;
        }

        &-text {
            font-size: 10px;
            opacity: 0.9;
            display: block;
        }
    }

    &__thumbnail-wrap {
        position: relative;
    }
    &__thumbnail {
        width: 120px;
        height: 120px;
        border-radius: 16px;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 14px;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 4px;
    }

    &__description {
        font-size: 13px;
        color: #b3b3b3;
        line-height: 1.5;
    }

    &__prices {
        margin-top: 8px;
        text-align: left;
    }

    &__old-price {
        text-decoration: line-through;
        color: #a0a0a0;
        font-size: 14px;
        margin-bottom: 4px;
    }

    &__new-price {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        margin-top: 3px;
    }
}
